h1 {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 50px;
    color: #141619;
}

h2 {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    color: #141619;
}

h3 {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    color: #141619;
}

h4 {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    color: #141619;
}

body { 
    margin: 0px;
    background-color: #ffffff
}

p {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 25px;
}

a {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

.body {
    background-color: #B3B4BD;
    color: rgb(255, 255, 255);
}

.dark-mode {
    background-color: black;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* Navigation Bar */
.navigation_bar {
    background-color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navigation_bar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 10px;
}

.navigation_bar a:hover {
    background-color: #04AA6D;
    color: white;
    border-radius: 5px;
}

.navigation_bar a.active {
    background-color: #04AA6D;
    color: white;
    border-radius: 5px;
}


